@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  padding: 1vh;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-container {
  /* This is the parent class for all the calculator */
  box-sizing: border-box;
  padding: 3vh;
  margin: 0px;
  max-width: 90vw;
  height: 100%;
  background-color: #34383a;
  border-radius: 30px;
}
.screen{
  font-family: 'Fredoka One', cursive;
  position: relative;
  top: 1%;
  margin: 0px 5px;
  height: 15%;
}
.screen__head {
  background-color: white;
  height: 45%;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  border-radius: 10px 10px 0px 0px;
}
.erase--all {
  font-family: 'Fredoka One', cursive;
  border: none;
  padding: 3px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 600;
  background-color: #ebeded;
  color: #bcc6c7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entrada {
  font-family: 'Fredoka One', cursive;
  height: 55%;
  width: 100%;
  padding: 5px 10px;
  font-size: 30px;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ececec;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
}
.keyboard {
  box-sizing: border-box;
  position: relative;
  height: 81%;
  top: 4%;
}
.keyboard > div{
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  box-sizing: border-box;
  display: grid;
}
.keyboard__up {
  grid-template-columns: repeat(6, 1fr);
  height: 48%;
}
.keyboard__down {
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  top: 2%;
  height: 50%;
}
.boton {
  font-family: 'Fredoka One', cursive;
  /* height: 4vh;
  width: 14vw; */
  margin: 1.2%;
  font-size: 30px;
  background-color: #e0e7e7;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.boton.op{
  background-color: #60bd60;
  color: #ffffff;
}
.boton.op#ans{
  background-color: #5287c3;
}
/* Diseño para celular*/
@media screen and (max-width:450px){
  .contenedorCalculadora {
    padding: 25px;
  }
  .screen {
    height: 90px;
  }
  .boton {
    padding: 7% 0px;
    height: auto;
    width: 30%;
    font-size: 140%;
  }
  .erase {
    width: 30px;
    height: 30px;
    font-size: 25px;
    text-align: center;
  }
}